
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
  header{                              /*dando estilos al MENU fondo,color y relleno*/
      background:  rgb(168, 211, 226)  ;
      color: #2E4053;
      padding: 11px 30px;
  }
  
  /* logo  y menu*/
  #logo         {
      display: inline-block;
      color: #2E4053;
      text-decoration: none;
      width: 49%;
    }
  
  #logo img    {                          /* imaagen*/
      width: 50px;
      border-radius: 3px;
      margin-right: 10px;
      vertical-align: middle;
  }
  
  #logo span   {
    display: inline-block;
  }




  nav     {                           /*empesamos a dar forma a las visitas del menu*/
      width: 50%;
      display: inline-block;
      text-align: right;
    }
    nav ul   {
      list-style: none;
      margin: 0;
    }
    nav ul li {
      display: inline-block;
    }
    nav ul li a    {
      color: #2E4053;
      text-decoration: none;
      display: block;
      padding: 15px 15px;
      border-radius: 5px;
      transition: 0.3s ease all;
    }
    nav ul li a:hover   {
      background:  rgb(222, 224, 64)    ;
    }
/* css del slider*/
.contenedor_slider{
  position: relative;
  width: 1287px;
  height: 500px;
  background: #2E4053 ;
  
}


.imagen{
  position:absolute;
  width: 100%;
  height: 70%;
  visibility: hidden;
  opacity: 0;
}

.imagen img{
  height: 143%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

/*.texto{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 120%;
  color: rgb(146, 25, 25);
  font-weight: bold;
}*/

.contenedor_slider a{
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 36px;
  top: 50%;
  transform: translateY(-50%);
}

.siguiente{
left: 97%;
}

.puntos{
  position: absolute;
  top: 93%;
  width: 100%;
  text-align: center;
}

.punto{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: rgb(221, 207, 13) ;
  border-radius: 50%;
  margin-right: 5px;
}

.punto:hover{
  cursor: pointer;
  background-color: #27AE60;

}

.contenedor_slider a:hover{
  color:green;
}
.actual{
  visibility: visible;
  opacity: 3;
  transition: visibility 10s ,opacity 2s;
  
}

.activo{
  background-color: green;
}

/*css de quines somos*/

.hero{
position: relative;
width: 60%;
padding: 190px;
background: #ddd;
margin: 100px auto;
display: flex;
justify-content:center;
top: -90px;
left: 1%;

}
.hero-container{
position: relative;
width: 95%;
padding: 10px;
background: #ddd;
margin: 100px auto;
display: flex;
justify-content:center;
top: -70px;
}


  

/*.title {
  
  
}*/
body{
  font-family: 'Lato', sans-serif;
  margin:0;
}
.countdown{
  grid-area:countdown;

}
.countdown p{
  font-size:20px;
  text-align:center;
  font-weight: 100;

}
.countdown span{
  font-size: 50px;
}

.description{
  grid-area:description;
}

@media screen and (max-width: 768px){
  .hero-container{
    grid-template-columns: 70px 1fr;
    grid-template-areas: "badge title"
                "description description"
                "form form"
                "countdown countdown";
                  
  }
  
}
/*css de servicios*/
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container
{
position: relative;
width: 95%;
padding: 10px;
background: #E59EC7;
margin: 100px auto;
display: flex;
justify-content:center;
top: -70px;
}

.movimiento
{
width: 230px;
height: 250px;
background: #477FBE ;
float: left;
margin: 0px 10px;
transition: 1s;
border-radius: 5px;
  
}

.movimiento:hover{
  transform: scale(1.1);
  background: #37A549 ;
  box-shadow: 2px 2px 2px #222;
  z-index: 2;
}
.titulo_servicios{
  text-align: center;
  display: inline-block;
  position: relative;
  color:black;
  font-family: 'Dancing Scrip',cursive;

}

.titulo_servicios::after,.titulo_servicios::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color:currentColor;
  top: 0.7em;


}
.toto{
  position: relative;
  text-align: center;
  top: 30px;
 
}
.titulo_servicios::before{
left: -140px;
}
.titulo_servicios::after{
  right: -140px;
  }

/* css de las imagenes de los contenedores de nuestros servicios*/
img.iconos {
  display: block;
  margin: 20px auto;
  background-color:rgba(255, 255, 255,.15);
  width: 70px;
  padding: 37px;
  -webkit-webkit: border radius 50px;
  -moz-webkit: border radius 50px;
  -ms-webkit: border radius 50px;
  -o-webkit: border radius 50px;
  webkit: border radius 50px;;
  -webkit-box-shadow:0px,0px,0px,30px rgba(255,255,255,1);
  -webkit-transition: box-shadow .4s;
}
p.texto_imagenes {
  font-family: 'Dancing Scrip',cursive;
  text-align: center;
  padding-top: 1px;
  opacity: 0.98;
  -webkit-transition: padding-top .4s;
}

.texto_imagenes a{
color: #fff;
line-height: 1px;
letter-spacing: .1em;
cursor: pointer;
text-align: center;
text-decoration: none;
}
.movimiento:hover p.texto_imagenes{

  padding-top: 30px;


}
.movimiento:hover{
  height: 240px;
}

.movimiento:hover img.iconos{
  -webkit-box-shadow:0px,0px,0px,0px rgba(255,255,255,.6);
}
/* css de historias */

.historias{
  position:relative;
  background: rgb(193, 214, 250);
  height: 600px;
  width:95%;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  justify-content:center;
  top: -200px;
  
}
.historias_nuevo{
  position:relative;
  background: rgb(193, 214, 250);
  height: 600px;
  width:95%;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  justify-content:center;
  top: -90px;
  
}
.historia1{
  height: 480px;
  width: 50%;
  display: flex;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgb(0,0,0,0.5);
  overflow: hidden;
  box-sizing: border-box;
 background: #FFF;
 position: relative;
 right: 10px;
 top: -50px;
}

.clase_imagen{
  position: relative;
  right:0;
  left: 0px;
  background: #777;
}
.historia1  .clase_imagen{
  width: 340%;
}
.historia1 .clase_imagen img{
  width: 100%;
  vertical-align: top;
  height: 100%;

}
.titulo_historia1{
  text-align: center;
  display: inline-block;
  position: relative;
  color:black;
  font-family: 'Dancing Scrip',cursive;
  top: 190px;
}
.titulo_historias{
  position: relative;
  text-align: center;
  top: -300px;
}
.info_texto h1{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.info_texto h2{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.info_texto p{
 
  font-family: 'Times New Roman', Times, serif;
  height: 125px;
  margin-left: 38px;
  color: #222;
  line-height: 1.7em;
}
.clase_boton{
  height: 100px;
  margin-top: 1/px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 160px;
  
}
.clase_boton a{
  height: 40px;
  width:156px;
  border-radius: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #FFF;
  background: #11035f;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}
.clase_boton a:hover{
  background: #222;
}

/* historia 2 de salud*/
.historia2{
  height: 480px;
  width: 48%;
  display: flex;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgb(0,0,0,0.5);
  overflow: hidden;
  box-sizing: border-box;
 background: #FFF;
 position: relative;
 right: 10px;
 top: -50px;
}
.clase_boton2 a{
  height: 40px;
  width:156px;
  border-radius: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #FFF;
  background: #11035f;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}
.clase_boton2 a:hover{
  background: #222;
}
.clase_boton2{
  height: 100px;
  margin-top: 1/px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  
}
.clase_imagen2{
  position: relative;
  right:0;
  left: 0px;
  background: #777;
}
.historia2  .clase_imagen2{
  width: 200%;
}
.historia2 .clase_imagen2 img{
  width: 100%;
  vertical-align: top;
  height: 100%;

}
.historia3{
  height: 330px;
  width: 48%;
  display: flex;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgb(0,0,0,0.5);
  overflow: hidden;
  box-sizing: border-box;
 background: #FFF;
 position: absolute;
 right: 10px;
 top: 370px;
}
.clase_boton2 a{
  height: 40px;
  width:156px;
  border-radius: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #FFF;
  background: #11035f;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}
.clase_boton2 a:hover{
  background: #222;
}
.clase_boton2{
  height: 100px;
  margin-top: 1/px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  
}
.clase_imagen2{
  position: relative;
  right:0;
  left: 0px;
  background: #777;
}
.historia3  .clase_imagen2{
  width: 200%;
}
.historia3 .clase_imagen2 img{
  width: 100%;
  vertical-align: top;
  height: 100%;

}

/* css del contactate con nosotros*/
.titulo_servicios2{
  text-align: center;
  display: inline-block;
  position: relative;
  color:black;
  font-family: inherit;

}

.titulo_servicios2::after,.titulo_servicios2::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color:currentColor;
  top: 0.7em;


}
.contactate{
  position: relative;
  text-align: center;
  top: -330px;
  background: #E5B917;
  height: 100px;
  width:95%;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  justify-content:center;
  border-radius: 20px;
 
}
.titulo_servicios2::before{
left: -140px;
}
.titulo_servicios2::after{
  right: -140px;
  }


  .hero_contactenos{
    background: #222222;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 380px;
    position: absolute;
    top: 1850px;
    
    width: 1280px;
    
  }

  .cardbox{
    perspective: 400px;
    margin: 15px;
  }
  .card{
    position: relative;
    width: 250px;
    height: 250px;
    background: #fff;
    transform-style: preserve-3d;
    transition: 0 30px 30px rgba(0,0,0,.5);
  }
  .facebook{
    background: rgb( 2, 86, 151 );
  }
  .twitter{
    background: rgb( 118, 181, 222 );

}
.youtube{
  background: rgb( 168, 3, 3  );
}
.browser{
  background: #777;
}
.front ,.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  color: #FFF;
  backface-visibility: hidden;
}
.front{
  display: flex;
  font-size: 60px;
  justify-content: center;
  align-items: center;
}
.back{
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.cardbox:hover .card{
  transform: rotateY(180deg);
  transition-delay:.2s;
}
.back{
  transform: rotateY(180deg);
}
.facebook1{
  color: #FFF;
}
.twitter1{
  color: #FFF;
}
.youtube1{
  color: #FFF;
}
.web1{
  color: #FFF;
}

/*css del fother*/

footer{
  width: 100%;
  background: #202020;
  color: white;
  position: relative;
  height: 320px;
}

.contenedor_footer{
  width: 100%;
  max-width: 1200px;

}

.contenedor_grande{
  display: flex;

}
.colum1{
  max-width: 400px;
  position: relative;
  left: 30px;

}
.colum1 h1{
  font-size: 22px;
}
.colum1 p{
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}
.colum2{
  max-width: 400px;
  position: relative;
  left: 90px;

}
.colum2 h1{
  font-size: 22px;
}
.colum2.row{
  margin-top: 20px;
}
.row{
  margin-top: 20px;
  display: flex;
}
.row img{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7;

}
.colum3{
  max-width: 400px;
  position: relative;
  left: 195px;
}
.colum3 h1{
  font-size: 22px;

}
.row2{
  margin-top: 20px;

}
.row2 img{
  width: 36px;
  height: 36px;
}
.row2 label{
  margin-left: 20px;
  max-width: 140px;
  margin-top: 10px;
}
/*modal de voluntarios*/
.modal_voluntarios{
background-color: rgb(0,0,0,0.8);
width: 50%;
height: 80vh;
position:absolute;
top:105%;
left: 280px;
z-index: 10;
opacity: 0;
visibility: hidden;
}
.modal_ensi{
  width: 60%;
  height: 80%;
  background-color: rgb(204, 242, 239 );
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2em;
  border-radius: 1em;opacity: 0;
  visibility: hidden;

}
a:link a:visited{
  text-decoration: none;
}
.cerrar{
  color: black;
  font-size: 2em;
  position:absolute;
  top:.5em;
  right: 1em;
}
#modal_voluntarios:target{
  opacity: 1;
  visibility: visible;

}
#modal_voluntarios:target .modal_ensi{
  opacity: 1;
  visibility: visible;
}


/* luego le pongo nombre*/

.modal_voluntarios11{
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 80vh;
  position:absolute;
  top:105%;
  left: 280px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  }
  .modal_ensi{
    width: 60%;
    height: 80%;
    background-color: rgb(204, 242, 239 );
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    border-radius: 1em;opacity: 0;
    visibility: hidden;
  
  }
  a:link a:visited{
    text-decoration: none;
  }
  .cerrar{
    color: black;
    font-size: 2em;
    position:absolute;
    top:.5em;
    right: 1em;
  }
  #modal_voluntarios11:target{
    opacity: 1;
    visibility: visible;
  
  }
  #modal_voluntarios11:target .modal_ensi{
    opacity: 1;
    visibility: visible;
  }
  
  /* inicio de sesion*/
.texto_imagenes a{
  color: black;
}
  .modal_inicio{
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 80vh;
  position:absolute;
  top:105%;
  left: 280px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  }
  .modal_ensi{
    width: 60%;
    height: 80%;
    background-color: rgb(204, 242, 239 );
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    border-radius: 1em;opacity: 0;
    visibility: hidden;
  
  }
  a:link a:visited{
    text-decoration: none;
    color: black;
  }
  .cerrar{
    color: black;
    font-size: 2em;
    position:absolute;
    top:.5em;
    right: 1em;
  }
  #modal_inicio:target{
    opacity: 1;
    visibility: visible;
  
  }
  #modal_inicio:target .modal_ensi{
    opacity: 1;
    visibility: visible;
  }
  /*registro voluntarios*/
  .contenedor-inputs{
    padding: 5px 30px;
    width: 350px;
    height: 325px;
    
    left: -10px;
    border-radius: 3px;
  }
  .input-48{
    width: 80%;
    border-radius: 5px;
  }
  input{
    margin-bottom: 15px;
    padding: 2px;
    border-radius: 3px;
    border:1px solid darkred;
  }
  .form_titulo{
    position: relative;
    top: -30px;
    justify-content: center;
    left: 50px;
  }
  .imagen_voluntarios{
    position: absolute;
    top: 50px;
    left: 170px;;
  }
  .input-49{
    position: relative;
    width: 48%;
    left: 60px;
  }

/*registro voluntarios*/
.contenedor-inputs{
  padding: 5px 30px;
  width: 350px;
  height: 325px;
 
  left: -10px;
  border-radius: 3px;
}
.input-48{
  width: 80%;
  border-radius: 5px;
}
input{
  margin-bottom: 15px;
  padding: 2px;
  border-radius: 3px;
  border:1px solid darkred;
}
.form_titulo{
  position: relative;
  top: -30px;
  justify-content: center;
  left: 50px;
}
.imagen_voluntarios{
  position: absolute;
  top: 50px;
  left: 170px;;
}
.input-49{
  position: relative;
  width: 48%;
  left: 60px;
}

/*modal de donación*/
.modal_donacion{
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 80vh;
  position:absolute;
  top:105%;
  left: 280px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  }
  .modal_ensi{
    width: 60%;
    height: 80%;
    background-color: rgb(204, 242, 239 );
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    border-radius: 1em;opacity: 0;
    visibility: hidden;
  
  }
  a:link a:visited{
    text-decoration: none;
  }
  .cerrar{
    color: black;
    font-size: 2em;
    position:absolute;
    top:.5em;
    right: 1em;
  }
  #modal_donacion:target{
    opacity: 1;
    visibility: visible;
  
  }
  #modal_donacion:target .modal_ensi{
    opacity: 1;
    visibility: visible;
  }

  /* modal2 de donantes pero correo y contraseña*/

  .modal_2{
    background-color: rgb(0,0,0,0.8);
    width: 50%;
    height: 80vh;
    position:absolute;
    top:105%;
    left: 280px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    }
    .modal_ensi{
      width: 60%;
      height: 80%;
      background-color: rgb(204, 242, 239 );
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 2em;
      border-radius: 1em;opacity: 0;
      visibility: hidden;
    
    }
    a:link a:visited{
      text-decoration: none;
    }
    .cerrar{
      color: black;
      font-size: 2em;
      position:absolute;
      top:.5em;
      right: 1em;
    }
    #modal_2:target{
      opacity: 1;
      visibility: visible;
    
    }
    #modal_2:target .modal_ensi{
      opacity: 1;
      visibility: visible;
    }

    /*modal3 pero de correo y contraseña*/
    
  .modal_3{
    background-color: rgb(0,0,0,0.8);
    width: 50%;
    height: 80vh;
    position:absolute;
    top:105%;
    left: 280px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    }
    .modal_ensi{
      width: 60%;
      height: 80%;
      background-color: rgb(204, 242, 239 );
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 2em;
      border-radius: 1em;opacity: 0;
      visibility: hidden;
    
    }
    a:link a:visited{
      text-decoration: none;
    }
    .cerrar{
      color: black;
      font-size: 2em;
      position:absolute;
      top:.5em;
      right: 1em;
    }
    #modal_3:target{
      opacity: 1;
      visibility: visible;
    
    }
    #modal_3:target .modal_ensi{
      opacity: 1;
      visibility: visible;
    }
  /*modal de solicitar_ayuda*/
.solicitar_ayuda{
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 80vh;
  position:absolute;
  top:105%;
  left: 280px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  }
  .modal_ensi{
    width: 60%;
    height: 80%;
    background-color: rgb(204, 242, 239 );
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    border-radius: 1em;opacity: 0;
    visibility: hidden;
  
  }
  a:link a:visited{
    text-decoration: none;
  }
  .cerrar{
    color: black;
    font-size: 2em;
    position:absolute;
    top:.5em;
    right: 1em;
  }
  #solicitar_ayuda:target{
    opacity: 1;
    visibility: visible;
  
  }
  #solicitar_ayuda:target .modal_ensi{
    opacity: 1;
    visibility: visible;
  }
  .form-register{
    width: 350px;
    background:#48C9B0;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;

  }
  .input-48{
    width: 70%;
    background:  #dce6f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    align-content: center;
}
.form-register h4{
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.form-register p{
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 80px;
}

.form-register a{
  color: black;
  text-decoration: none;
}
.form-register a:hover{
  color: white;
  text-decoration: underline;
}

.btn{
  width: 50%;
  background: #1f53c5;
  border: none;
  padding: 10px;
  color: white;
  margin: 10px 0;
  font-size: 10px;
}
.form-login{

  width: 350px;
  background:#48C9B0;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-login input{
  width: 70%;
    background:  #dce6f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    align-content: center;
}
.clase_boton1{
  height: 100px;
  margin-top: 1/px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
  
}
.clase_boton1 a{
  height: 40px;
  width:156px;
  border-radius: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #FFF;
  background: #11035f;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}
.form{
  width: 350px;
  background:#48C9B0;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

